<app-form-skeleton *ngIf="isLoading; else gameFormContent"></app-form-skeleton>

<ng-template #gameFormContent>
  <div class="d-flex justify-content-between align-items-start">
    <h1>
      {{ isAdding ? 'Nuevo Juego' : 'Editar Juego' }}
    </h1>

    <a routerLink="/games" class="btn btn-outline-secondary">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
      <span class="d-none d-md-inline ms-2">Regresar</span>
    </a>
  </div>

  <!-- game form -->
  <div class="row">
    <div class="col-md-8">
      <form [formGroup]="gameForm" (ngSubmit)="submit()">
        <div class="form-group mb-2">
          <label class="form-label" for="name">Nombre:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
            placeholder="Ej: Fornite"
            [ngClass]="{ 'is-invalid': hasError('name', 'required') }"
          />
          <div *ngIf="hasError('name', 'required')" class="invalid-feedback">
            El nombre es requerido
          </div>
        </div>
        <div class="form-group mb-2">
          <label class="form-label" for="description">Descripción:</label>
          <textarea
            rows="2"
            class="form-control"
            id="description"
            formControlName="description"
            placeholder="Ej: Juego de acción"
            [ngClass]="{ 'is-invalid': hasError('description', 'required') }"
          ></textarea>
          <div
            *ngIf="hasError('description', 'required')"
            class="invalid-feedback"
          >
            La descripción es requerida
          </div>
        </div>
        <div class="form-group mb-2">
          <label class="form-label" for="coverImage">Foto de portada:</label>
          <input
            type="file"
            class="form-control"
            id="coverImage"
            formControlName="coverImage"
          />
        </div>
        <div class="form-group mb-2">
          <label class="form-label" for="gamePlayImages">
            Imágenes para slider:
          </label>
          <input
            class="form-control"
            type="file"
            id="gamePlayImages"
            formControlName="gamePlayImages"
            multiple
          />
        </div>
        <div class="form-group mb-2">
          <label class="form-label" for="releaseDate">
            Fecha de lanzamiento:
          </label>
          <input
            type="date"
            class="form-control"
            id="releaseDate"
            formControlName="releaseDate"
            [ngClass]="{ 'is-invalid': hasError('releaseDate', 'required') }"
          />
          <div
            *ngIf="hasError('releaseDate', 'required')"
            class="invalid-feedback"
          >
            La fecha de lanzamiento es requerida
          </div>
        </div>
        <div class="form-group mb-2">
          <label for="publisher">Editor:</label>
          <input
            type="text"
            class="form-control"
            id="publisher"
            formControlName="publisher"
            placeholder="Ej: Ubisoft"
            [ngClass]="{ 'is-invalid': hasError('publisher', 'required') }"
          />
          <div
            *ngIf="hasError('publisher', 'required')"
            class="invalid-feedback"
          >
            El editor es requerido
          </div>
        </div>
        <div class="form-group mb-2">
          <label class="form-label" for="developer">Desarrollador:</label>
          <input
            type="text"
            class="form-control"
            id="developer"
            formControlName="developer"
            placeholder="Ej: Ubisoft"
            [ngClass]="{ 'is-invalid': hasError('developer', 'required') }"
          />
          <div
            *ngIf="hasError('developer', 'required')"
            class="invalid-feedback"
          >
            El desarrollador es requerido
          </div>
        </div>
        <div class="form-group mb-2">
          <label class="form-label" for="price">Precio:</label>
          <input
            type="number"
            class="form-control"
            id="price"
            formControlName="price"
            placeholder="Ej: 100"
            [ngClass]="{ 'is-invalid': hasError('price', 'required') }"
          />
          <div *ngIf="hasError('price', 'required')" class="invalid-feedback">
            El precio es requerido
          </div>
        </div>
        <div class="form-group mb-2">
          <label class="form-label" for="developer">Tags:</label>
          <ng-select
            [multiple]="true"
            formControlName="tags"
            placeholder="Seleccionar"
          >
            <ng-option *ngFor="let tag of tags" [value]="tag.id">
              {{ tag.name }}
            </ng-option>
          </ng-select>
        </div>
        <div class="form-group mb-4">
          <label class="form-label" for="developer">Platforms:</label>
          <ng-select
            [multiple]="true"
            formControlName="platforms"
            placeholder="Seleccionar"
          >
            <ng-option *ngFor="let platform of platforms" [value]="platform.id">
              {{ platform.name }}
            </ng-option>
          </ng-select>
        </div>

        <div class="d-flex justify-content-end">
          <button class="btn btn-primary" type="submit">
            {{ isAdding ? 'Agregar' : 'Actualizar' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
