<h1>Lista de Usarios</h1>

<div>
    <button class="btn btn-primary" routerLink="/users/add">Agregar Usuario</button>
</div>

<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">UID</th>
            <th scope="col">Nombre de Usuario</th>
            <th scope="col">Correo</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <th scope="row">{{ user.uid }}</th>
            <td>{{ user.displayName }}</td>
            <td>{{ user.email }}</td>
            <td>
                <div class="d-flex align-items-center gap-2">
                    <a class="btn btn-primary" [routerLink]="['/games/edit', user.uid]">
                        <fa-icon [icon]="faPenToSquare"></fa-icon>
                    </a>
                    <button class="btn btn-danger" (click)="delete(user.uid)">
                      <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>