<h2 class="mb-4">Featured Games</h2>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/banners/fifa-21.jpeg" class="game-banner" alt="" />
    </div>
    <div class="carousel-item">
      <img src="assets/banners/call-of-duty.jpeg" class="game-banner" alt="" />
    </div>
    <div class="carousel-item">
      <img src="assets/banners/valorant.jpeg" class="game-banner" alt="" />
    </div>
    <div class="carousel-item">
      <img src="assets/banners/pubg.jpeg" class="game-banner" alt="" />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h2 class="my-4">Latest Games</h2>

<div class="row g-4">
  <div class="col-md-3" *ngFor="let game of games">
    <app-game-card [game]="game"></app-game-card>
  </div>
</div>
